*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* height: 100%; */
}

body {
    padding: 2rem;
    color: white;
    /* height: 100%; */
    /* border: 4px dotted ; */
    background-color: black;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
    /* border: 2px dotted whitesmoke; */
    width: 90%;
    /* height: 50rem; */
    margin-inline: auto;
    /* height: 200px; */
}

/* Header style*/
header {
    padding: 2rem;
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
    flex-direction: column;
    gap: 3rem;
}

.title-section {
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    /* padding-inline: 4rem; */
    padding: 2rem;
}

.title-logo {
    background-color: white;
    border-radius: 50%;
}

.title-logo img {
    width: 70px;
    height: 70px;
}

.title-heading {
    font-size: 2.8rem;
}

header form {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

header input {
    padding: 1rem;
    /* width: 80%; */
    border-radius: 9px;
    border: 2px dotted whitesmoke;
    background-color: blue;
    color: white;
}

header input::placeholder {
    color: white
}

form button {
    width: 10rem;
    padding: 1rem;
    border-radius: 9px;
    border: none;
}


/* main style */

main {
    min-width: 95%;
    /* border: 2px dotted red; */
    /* height: 200px; */
}

.repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: repeat(2, 200px); */
    /* flex-direction: column; */
    gap: 4rem;
    /* border: 2px dotted yellow; */
    margin-bottom: 1rem;
}


.repo {
    width: 200px;
    list-style: none;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 9px;
    margin-bottom: 2rem;
    border: 1px solid grey;
}

.repo-details {
    /* background-color: grey; */
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-block: 1rem;
}

.repo-name, .repo-description {
    color: white;
}

.repo-description {
    text-align: left;
    font-size: 1.4rem;
}

.repo-buttons {
    /* margin-block: 1rem; */
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.repo-buttons button {
    padding: 1rem;
}

.search-div {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
    opacity: 0;
}


.search-div input {
    padding: 1rem;
    width: 100%;
    background-color: black;
    border: 1px solid grey;  
    color: white;  
}

.search-icon {
    position: absolute;
    right: 0;
}

.search-div input::placeholder {
    color: white;
}

/* pagination style */
.pagination {
    display: flex;
    max-width: 90%;
    flex-wrap: wrap;
    /* border: 2px dotted white; */
    /* margin-bottom: 2rem; */
    margin: 0 auto;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.pagination button {
    display: block;
    padding-inline: 1rem;
    padding-block: 5px;
    border-radius: 9px;
    border: none;
}

.error {
    border: 2px solid white;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.icon-danger-div img {
    width: 30px;
    height: 30px;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner img {
    height: 6rem;
    width: 6rem;
    animation: rotate 2s infinite linear;
  }

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* component style */
button {
    cursor: pointer;
}

/* active state style */
input:active {
    outline: none;
    border: 2px solid red;
}

/* tabel style */
table {
    border: 2px solid white;
    padding: 1rem;
    font-size: 1.4rem;
    margin: 0 auto;
}

td {
    padding: 1rem;
}



.back-btn-div {
    margin-inline: auto;
    max-width: fit-content;
}
.back-btn {
    padding: 1rem;
    margin-top: 1rem;
}
button:hover {
    color: white;
    background-color: blue;
    transform: scale(1.1);
}

@media (max-width: 400px) {
    .container {
        width: 90%;
        /* border: 2px solid white; */
    }

    header {
        /* max-width: 80%; */
        /* border: 2px solid blue; */
        margin: 0 auto;
    }

    header form {
        /* border: 2px solid red; */
        width: 100%;
    }

    form input {
        width: 80%;
    }

    .repos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* margin-bottom: unset; */
    }
    .pagination {
        max-width: 90%;
        /* border: 2px solid red; */
        flex-wrap: wrap;
        margin: 0 auto;
    }
}

.hidden {
    display: none;
}